* {
    margin: 0px;
    padding: 0px;
}

.logoEL {
    display: flex;
    justify-content: center;
}

.font-1 {
    font-family: 'Koulen', cursive;
    font-size: 8vw;
    text-align: center;
    margin-top: 10px;
}

.bg-1 {
    background-color: rgb(198, 228, 255);
}

.minHeight {
    min-height: 670px;
}

/*noticias*/
.center {
    text-align: center;
}

.row {
    gap: 20px;
}

main div span div {
    background-color: aliceblue;
    margin: 3px 0px;
    padding: 2px;
}

.maxWidthNews {
    max-width: 350px;
}

.centerContainer {
    margin: auto 0px;
}

.viewsMargin {
    margin: 0px 0px 0px 5px;
}

footer {
    background-color: #00b7c4;
    text-align: end;
}

.containerShop {
    max-width: 800px;
}

.centerPrev {
    justify-content: center;
}

@media (min-width: 1024px) {
    .font-1 {
        font-size: 82px;
    }
}

@media (max-width: 768px) {
    .fontTitleResponsive {
        font-size: 4vw;
    }

    .fontContentResponsive {
        font-size: 3vw
    }

    .img-fluid {
        width: 40vw;
    }
}

@media (max-width: 480px) {
    .rowNoDisplay {
        display: none;
    }
}